:local(.customToast) {
  position: fixed; 
  left: 50%;
  bottom: 30px;
  width: 250px;
  transform: translateX(-50%);
  border-radius: 4px;
	opacity: 0;
}

:local(.showToast) {
  animation: in 1.5s, out 0.5s 1.5s;
	@keyframes in {
		0% {
			bottom: 0; 
			opacity: 0;
		}
		100% {
			bottom: 30px; 
			opacity: 1;
		}
	}
	@keyframes out {
		0% {
			bottom: 30px; 
			opacity: 1;
		}
		100% {
			bottom: 0; 
			opacity: 0;
		}
	}
}



