:local(.overlay) {
	position: absolute;
	width: 100%;
  height: 100%; 
  top: 0;
  left: 0;
  opacity: 0;
  cursor: pointer;
}

:local(.modal){
	&:local(.modal){
		// force classname
		display: block;
	}
}