:local(.dateFilterTogglerContainer){
	margin-left: 10px;
	flex-shrink: 0;
	&.offCard{
		// box-shadow: 0px 0.5px 6px 0px rgba(#2D3032, 0.12);
		box-shadow: 0px 1px 4px rgb(9 39 83 / 12%);
		border-radius: 4px;
	}
}
:local(.dashboardDateMenu){
	margin-top: 10px;
	z-index: 5;
	display: flex;
	.separator{
	  height: 1px;
	  background: #D9DFE8;
	  margin-top: 24px;
	  margin-bottom: 24px;
	}
	.compareTo{
	  margin-top: 18px;
	}
}

:local(.dateFilterToggler){
	padding: 0 10px;
	border: 1px solid #D9DFE8;
	box-sizing: border-box;
	border-radius: 4px;
	height: 36px;
	display: flex;
	align-items: center;
	position: relative;
	transition: .1s;
	gap: 0 5px;
	cursor: pointer;
	background: #FFFFFF;
	i{
		font-size: 20px;
		color: #191E24;
	}
	&:hover{
		background: #FAFAFA;
  }
	span{
		color: #191E24;
	}
	.icon-calendar{
		margin-right: 8px;
		position: unset;
	}
}

.react-datepicker__close-icon{
	background: transparent;
	border: none;
	cursor: pointer;
	outline: none;
	font: 400 unquote('14px') inherit;
	color: #647990;
	top: 10px;
	right: 6px;
	transform: unset;
}


.react-datepicker-popper{
border: 1px solid #D3DAE4;
box-shadow: 0px 0px 15px rgba(32, 32, 35, 0.08);
background: #FFFFFF;
margin: 10px 0;
z-index: 3;
}

.react-datepicker{


.react-datepicker{
	// omar
}

.react-datepicker__day-names{
	margin: 18px 0 10px;
	display: grid;
	gap: 4px;
	grid-template-columns: repeat(7, 1fr);
	& > * {
		color: #7B8DA3;
		font: 500 unquote('14px/17px') inherit;
	}
}

.react-datepicker__month{
	margin: 0;
	display: grid;
	row-gap: 4px;
	
	// this min height is to be put in the funnel builder style file.
	// min-height: 188px;
	align-content: flex-start;
	// grid-template-rows: repeat(5, 1fr);
}

.react-datepicker__week{
	display: grid;
	gap: 4px;
	grid-template-columns: repeat(7, 1fr);
}

.react-datepicker__current-month{
	display: flex;
	justify-content: center;
	align-items: center;
	font: 500 unquote('16px/19px') inherit;
	color: #191E24;
	height: 24px;
	position: relative;
	.navigationIcon{
		position: absolute;
		top: 0;
		font-size: 24px;
		color: #ABB6C4;
		cursor: pointer;
		&.disabled{
			opacity: .4;
			cursor: not-allowed !important;
			pointer-events: none;
		}
		&.left{
			left: 0;
		}
		&.right{
			right: 0;
		}
	}
}

.react-datepicker__month-container{
	padding: 10px;
}

.react-datepicker__day{
	font: 400 unquote('14px/17px') inherit;
	color: #191E24;
	height: 28px;
	width: 28px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	border-radius: 6px;
	cursor: pointer;
	&:not(.react-datepicker__day--outside-month):not(.edgeRange):not(.react-datepicker__day--in-selecting-range):hover{
		background-color: #F8F8F8;
	}
}

.react-datepicker__day--outside-month, .react-datepicker__day--disabled{
	opacity: .4;
	cursor: not-allowed !important;
	pointer-events: none;
}
}

:local(.rangeDatePicker){
background: #FFFFFF;
box-shadow: 0px 2px 20px rgba(32, 32, 35, 0.13);
border-radius: 6px;
display: flex;
flex-direction: column;
width: 654px;
max-width: 100%;
z-index: 5;
:local(.customDate){
	position: relative;
	width: 120px;
	border-left: 1px solid #D9DFE8;
	height: 100%;
	padding: 8px 0;
	.item{
		padding: 9px 10px;
		color: #191E24;
		font: 400 unquote("13px/16px") inherit;
		margin-bottom: 4px;
		cursor: pointer;
		&.active, &:hover {
			color: #0061F4;
			background: rgba(#0084FF, .1);
		}
	}
}
.content{
	flex-grow: 1;
}
.body{
	padding: 24px 18px 20px;
	.formGrid{
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 18px;
	}
	.react-datepicker__day--in-range:not(.react-datepicker__day--outside-month){
		background: rgba(#0075FF, .1);
	}
	.edgeRange{
		&:not(.react-datepicker__day--outside-month){
		}
	}
	.react-datepicker__day--in-selecting-range{
		background: rgba(#0075FF, 0.1);
	}
}
.aligner {
	display: flex;
}
.footer{
	padding: 18px;
	background: #F8F8F9;
	border-radius: 0px 0px 6px 6px;
	display: flex;
	justify-content: flex-end;
	gap: 0 18px;
}
@media (max-width: 964px) {
	width: 280px;
	.aligner {
		flex-direction: column;
		.content {
			order: 2;
			.body {
				max-height: 300px;
				overflow: auto;
				scrollbar-color: rgba(0,0,0,.15);
				scrollbar-width: thin;
				.formGrid {
					grid-template-columns: 1fr;
				}
			}
		}
	}
	:local(.customDate){
		order: 1;
		width: 100%;
		max-height: 156px;
		 overflow: auto;
		scrollbar-color: rgba(0,0,0,.15);
		scrollbar-width: thin;
		border-left: 0;
		border-bottom: 1px solid #D9DFE8;
		&::after{
			border-bottom: 1px solid black;
			height: 1px;
			// width: 100px;
			// background-color: black;
		}
		// &::-webkit-scrollbar-track{
		// 	margin: 5px 0;
		// }
		// &::-webkit-scrollbar {
		// 	width: 4px;
		// 	height: 4px;
		// }
		// &::-webkit-scrollbar-thumb{
		// 	background-color: rgba(0,0,0,.15);    
		// 	border-radius: 4px;       
		// }
	}
}
@media (max-width: 320px) {
	width: 240px;
	:local(.customDate){
		max-height: 86px;
	}
	.aligner {
		.content {
			.body {
				padding: 4px 4px;
			}
		}
	}
	.react-datepicker {
		.react-datepicker__month-container{
			padding: 6px;
		}
	}
}
}

.react-datepicker__close-icon{
position: absolute;
right: 10px;
top: 50%;
transform: translateY(-50%);
&:before{
	content: "X";
}
}

:local(.rangeDatePickerLabel){
// display: inline-block;
// border: 1px solid;
.adjustHandler {
	position: absolute;
	right: 8px;
	cursor: pointer;
	top: 0;
	font-size: 18px;
	color: #191E24;
	display: flex;
	flex-flow: column;
	.adjustNumberInput {
		vertical-align: middle;
		display: inline-block;
		&[data-disabled]{
			opacity: .3;
		}
	}
}

.leftIcon{
	order: 1;
	margin-right: 6px;
	white-space: nowrap;
}

.icon{
	margin-left: 6px;
	white-space: nowrap;
}

.icon, .leftIcon{
	display: flex;
	color: #93A2B4;
	font-size: 18px;
	& [data-text] {
		font: 400 14px/16px inherit;
		color: #647990;
	}
}

.w1{
	background: #FFFFFF;
	position: relative;
	flex-grow: 1;
	display: flex;
	align-items:center;
	border-radius: 4px;

	& > *:last-child{
		order: 3;
	}

	&.hasLeftIcon{
		padding-left: 10px;
		&.medium{
			padding-left: 5px;
		}
		:local(.textInput) {
			padding-left: 2px;
		}
	}

	&.hasRightIcon{
		padding-right: 10px;
		&.medium{
			padding-right: 5px;
		}
		:local(.textInput) {
			padding-right: 2px;
		}
	}

	&.hasAdjusters{
		padding-right: 34px;
	}

	:local(.overlay){
		position: absolute;
		left: 0;
		top: 0;
		bottom: 0;
		right: 0;
		pointer-events: none;
		border: 1px solid #D3DAE4;
		border-radius: 4px;
		transition: .1s;
	}
	
	&.medium{
		[data-text], :local(.textInput) {
			font:400 13px/16px inherit;
		}
		:local(.textInput){
			height: 32px;
		}
		& + .adjustHandler{
			margin-top: -2px;
			right: 4px;
		}
		&, :local(.overlay){
			border-radius: 4px;
		}
	}
}

// note: works for both readonly and disabled
.disabled{
	// pointer-events: none;
	opacity: .6;
}
padding: 0 10px;
display: flex;
align-items: center;
justify-content: space-between;
border-radius: 6px;
height: 36px;
border: 1px solid #D3DAE4;
color: #191E24;
font-size: 14px;
.date-container {
	width: 100%;
	display: flex;
	align-items: center;
	.value{
		flex-grow: 1;
	}
}
.icon{
	color: #93A2B4;
	font-size: 18px;
	margin-right: 6px;
}
&.active{
	border-color: #0085FF;
	box-shadow: 0 0 0 1px #0085FF;
	.icon-calendar{
		color: #0085FF;  
	}
}  

}
:local(.rangeDatePickerMenu){
z-index: 1;
}

