@import "./variables.scss";

@mixin selectedDate{
  background: $blue-border-selected-step;
  color: $white !important;
}

.rangeDatePicker{
  background: $white;
  box-shadow: $box-shadow-2;
  border-radius: $modal-border-radius;
  display: flex;
  flex-direction: column;
  width: 654px;
  max-width: 100%;
  z-index: 5;
  .customDate{
    position: relative;
    width: 120px;
    border-left: 1px solid $grey-10;
    height: 100%;
    padding: 8px 0;
    :global .item{
      padding: 9px 10px;
      color: $grey-27;
      font: 400 unquote("13px/16px") inherit;
      margin-bottom: 4px;
      cursor: pointer;
      &.active, &:hover {
        color: $blue--13;
        background: rgba($blue--12, .1);
      }
    }
  }
  :global {
	  .content{
	    flex-grow: 1;
	  }
	  .body{
	    padding: 24px 18px 20px;
	    .formGrid{
	      display: grid;
	      grid-template-columns: 1fr 1fr;
	      gap: 18px;
	    }
	    .react-datepicker__day--in-range:not(.react-datepicker__day--outside-month){
	      background: rgba($blue-9, .1);
	    }
	    .edgeRange{
	      &:not(.react-datepicker__day--outside-month){
	        @include selectedDate;
	      }
	    }
	    .react-datepicker__day--in-selecting-range{
	      background: $opacity-blue-1;
	    }
	  }
	  .aligner {
	    display: flex;
	  }
	  .footer{
	    padding: 18px;
	    background: $grey-28;
	    border-radius: 0px 0px 6px 6px;
	    display: flex;
	    justify-content: flex-end;
	    column-gap: 10px;
	  }
		@media (max-width: 964px) {
			width: 280px;
			.aligner {
				flex-direction: column;
				.content {
					order: 2;
					.body {
						max-height: 300px;
						overflow: auto;
						scrollbar-color: rgba(0,0,0,.15);
						scrollbar-width: thin;
						.formGrid {
							grid-template-columns: 1fr;
						}
					}
				}
			}
			:local(.customDate){
				order: 1;
				width: 100%;
				max-height: 156px;
	   	  overflow: auto;
				scrollbar-color: rgba(0,0,0,.15);
				scrollbar-width: thin;
				border-left: 0;
				border-bottom: 1px solid $grey-10;
				&::after{
					border-bottom: 1px solid black;
					height: 1px;
					// width: 100px;
					// background-color: black;
				}
				// &::-webkit-scrollbar-track{
				// 	margin: 5px 0;
				// }
				// &::-webkit-scrollbar {
				// 	width: 4px;
				// 	height: 4px;
				// }
				// &::-webkit-scrollbar-thumb{
				// 	background-color: rgba(0,0,0,.15);    
				// 	border-radius: 4px;       
				// }
			}
		}
		@media (max-width: 320px) {
			width: 240px;
			:local(.customDate){
				max-height: 86px;
			}
			.aligner {
				.content {
					.body {
						padding: 4px 4px;
					}
				}
			}
			.react-datepicker {
				.react-datepicker__month-container{
					padding: 6px;
				}
			}
		}
  }
}

.rangeDatePickerLabel{
  padding: 0 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 6px;
  height: 36px;
  border: 1px solid $border-color-tr;
  color: $grey-27;
  font-size: 14px;
  background-color: $white;
  cursor: pointer;
  box-shadow: $box-shadow-3;
  transition: .1s;
  &:hover{
    background-color: $light-grey;
  }
  .date-container {
  	width: 100%;
    display: flex;
    align-items: center;
    .value{
      display: flex;
      align-items: center;
    	flex-grow: 1;
      gap: 0 5px;
      .icon-calendar{
        stroke-width: 1.5;
        stroke:  $grey-27;
      }
    }
  }
}

.rangeDatePickerMenu{
  z-index: 1;
}
