$white: #fff;
$light-grey: #fafafa;
$border-color-tr: #D3DAE4;
$box-shadow-1: 0px 0px 15px rgba(32, 32, 35, 0.08);
$box-shadow-2: 0px 2px 20px rgba(32, 32, 35, 0.13);
$box-shadow-3: 0px 1px 4px rgb(9 39 83 / 12%);
$accent-blue: #0085FF;
$grey-35: #7B8DA3;
$grey-27: #191E24;
$grey-20: #ABB6C4;
$grey-24: #191E24;
$grey-19: #F8F8F8;
$modal-border-radius: 6px;
$grey-10: #D9DFE8;
$grey-27: #191E24;
$blue--13: #0061F4;
$blue--12: #0084FF;
$blue-3: #0075FF;
$blue-9: $blue-3;
$opacity-blue-1: rgba($blue-9, 0.1);
$grey-28: #F8F8F9;
$grey-1: #93A2B4;
$blue-border-selected-step: $accent-blue;
$dark-1: $grey-27;